@charset "utf-8";
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

$calm: #ffb354 !default; // Include all of Ionic
@import "../www/lib/ionic/scss/ionic";
@import "common";
@import "../www/templates/home/home";
@import "../www/templates/tabs/tabs";
@import "../www/templates/home/house_detail/house_detail";
@import "../www/templates/home/hotel_detail/hotel_detail";
@import "../www/templates/home/comment/comment";
@import "../www/templates/home/get_city/get_city";
@import "../www/templates/home/select_bussiniss/select_bussinss";
@import "../www/templates/home/house_intr/house_intr";
@import "../www/templates/home/my_collect/my_collect";
@import "../www/templates/home/hotel_pics/hotel_pics";
@import "../www/templates/home/picShow/picShow";
@import "../www/templates/directive/date/date";
@import "../www/templates/directive/cityPick/cityPicker";
@import "../www/templates/userCenter/BeLandlord/be_landlord";
@import "../www/templates/userCenter/BeLandlord/joinUs/join_us";
@import "../www/templates/userCenter/BeLandlord/landlord_profit/landlord_profit";
@import "../www/templates/userCenter/BeLandlord/waitCheck/wait_check";
@import "../www/templates/userCenter/BeLandlord/my_house/my_house";
@import "../www/templates/userCenter/BeLandlord/see_myhouse/see_myhouse";
@import "../www/templates/userCenter/BeLandlord/myhouse_detail/myhouse_detail";
@import "../www/templates/userCenter/BeLandlord/my_orderform/my_orderform";
@import "../www/templates/userCenter/BeLandlord/myhouse_changeprice/myhouse_changeprice";
@import "../www/templates/userCenter/BeLandlord/orderform_detail/orderform_detail";
@import "../www/templates/userCenter/BeLandlord/trade_rule/trade_rule";
@import "../www/templates/userCenter/BeLandlord/myhouse_intr/myhouse_intr";
@import "../www/templates/userCenter/BeLandlord/myaccount/myaccount";
@import "../www/templates/userCenter/BeLandlord/account_detail/account_detail";
@import "../www/templates/userCenter/login/login";
@import "../www/templates/userCenter/register/register";
@import "../www/templates/userCenter/RetrievePwd/RetrievePwd";
@import "../www/templates/userCenter/setting/setting";
@import "../www/templates/userCenter/changePwd/changePassword";
@import "../www/templates/userCenter/userCenter";
@import "../www/templates/discover/discover";
@import "../www/templates/userCenter/Nopay/Nopay";
@import "../www/templates/userCenter/Pay/Pay";
@import "../www/templates/userCenter/Noevaluate/Noevaluate";
@import "../www/templates/userCenter/lose-efficacy/lose-efficacy";
@import "../www/templates/userCenter/Order-form/Order-form";
@import "../www/templates/shopCar/shopCar";
@import "../www/templates/userCenter/evaluate/evaluate";
@import "../www/templates/ctrl/clean/clean";
@import "../www/templates/userCenter/binding/binding";
@import "../www/templates/userCenter/status/status"; // @import "../www/templates/userCenter/mymessage/mymessage";
@import "../www/templates/userCenter/Consume/Consume";
@import "../www/templates/home/map/map";
@import "../www/templates/home/nearby/nearby";
@import "../www/templates/shopCar/invoice/invoice";
@import "../www/templates/shopCar/orderDetail/orderDetail";
@import "../www/templates/ctrl/ctrl";
@import "../www/templates/ctrl/inHouse/inHouse";
@import "../www/templates/ctrl/CheckIn/checkIn";
@import "../www/templates/ctrl/light/light";
@import "../www/templates/ctrl/airCondition/airCondition";
@import "../www/templates/ctrl/tv/tv";
@import "../www/templates/ctrl/curtain/curtain";
@import "../www/templates/ctrl/model/model";
@import "../www/templates/ctrl/sweepTime/sweepTime";
@import "../www/templates/ctrl/lock/lock";
@import "../www/templates/userCenter/qrCode/qrCode";
@import "../www/templates/ctrl/colorPicker/colorPicker";
@import "../www/templates/ctrl/readLight/readLight";
@import "../www/templates/ctrl/service/service";
