.myhouse_intr_wrap{
	background-color: $ajk_backColor;
	height:100%;
	.back{
		display: inline-block;
		width: px2rem(24);
		height:px2rem(40);
		position: absolute;
		left: px2rem(30);
		top:px2rem(30);
		background: url(../imgs/wcj/select_bussiniss/left_arr.png) no-repeat;
		background-size: 100% 100%;
		z-index: 99
	}
	.slide{
		height:px2rem(500);
	}
	.mess{
		padding: 0 px2rem(30) px2rem(20) px2rem(30);
		background-color:#fff;
        border-bottom:1px solid $ajk_borderColor;
        margin-bottom: px2rem(20);
		h2{
			@include font-dpr(15px);
			line-height:px2rem(80);
			border-bottom:1px solid $ajk_borderColor;
			font-family: 'PingFang SC';
			span{
				@include font-dpr(13px);
				color: #ababab;
			}

		}
		>div{
			padding: px2rem(10) 0;
			h3{
				@include font-dpr(13px);
			}
			p{
              white-space: normal;
              line-height:px2rem(36);
              @include font-dpr(13px);
			}
		}
	}
	.basicItem{
		line-height: px2rem(100);
		background-color:#fff;
		padding:0 px2rem(30);
    display: flex;
    justify-content: space-between;
    align-items: center;
		position: relative;
		&::before{
			@include borderMixinBottom;
		}
		i{
			display:inline-block;
			width: 0.21333rem;
			height: 0.37333rem;
		}
	}
}
.myhouse_basicmess_wrap{
	background-color: $ajk_backColor;
	margin-top: px2rem(10);
	margin-bottom: px2rem(20);
	.wrap{
		background-color:#fff;
		padding: 0 px2rem(30);
		border-bottom: 1px solid $ajk_borderColor;
		p{
			border-bottom: 1px solid $ajk_borderColor;
			&:last-child{
				border-bottom:none;
			}
			span{
			  line-height:px2rem(100);
			  @include font-dpr(15px);
			  display: inline-block;
			  &:first-child{
			  	color: #ababab;
			  	width: px2rem(300);
			  }
			}

		}
	}
}
.myhouse_wrap_wrap {
    background-color: #fff;
		margin-top: px2rem(10);
		padding-bottom:px2rem(50);
    >div {
      display: flex;
      flex-wrap:wrap;
        span {
            display: inline-block;
            width: px2rem(160);
            height: px2rem(76);
            border-radius: px2rem(10);
            background-color: #fff;
						border: 1px solid #ccc;
            line-height: px2rem(76);
            text-align: center;
            color: $ajk_color;
            @include font-dpr(15px);
            margin-left: px2rem(20);
            margin-top: px2rem(20);
            overflow: hidden;
        }
    }
}
