.Noevaluate-list {
  background-color: #FFFFFF;

  .Noevaluate-head {
    height: px2rem(90);
    width: 100%;
    @extend %flex;
    @extend %flexMainJustify;
    @extend %flexCrossCenter;
    h1 {
      margin-left: px2rem(30);
      @include font-dpr(15px);
      font-family: "PingFang-SC-Medium";
      color: #000;
      margin: 0 px2rem(30);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .list {
    width: 100%;
    height: px2rem(160);
    overflow: hidden;
    background-color: #FAF9F9;
    padding-top: px2rem(10);
    margin-bottom: px2rem(20);
    @extend %flex;
    @extend %flexCrossCenter;
    position: relative;

    &::before {
      @include borderMixinBottom;
    }

    p {
      display: block;
      width: px2rem(150);
      height: px2rem(120);
      margin-left: px2rem(40);
      float: left;

      img {
        width: 100%;
        height: px2rem(120);
        margin: 0;
      }
    }

    .Noevaluate {
      input {
        height: px2rem(50);
        width: px2rem(100);
        background-color: white;
        color: #ffb354;
        @include font-dpr(13px);
        position: absolute;
        top: px2rem(80);
        right: px2rem(30);
        border: 1px solid #ffb354;
        border-radius: 10% 10%;
        line-height: px2rem(55);
      }
    }

    ul {
      width: 50%;
      height: px2rem(120);
      margin-left: px2rem(20);
      flex-grow: 1;
      -wekit-flex-grow: 1;
      @extend %flex;
      @extend %flexDirTop;
      @extend %flexMainJustify;

      .address {
        display: inline-block;
        @include font-dpr(12px);
        color: #ababab;
        line-height: px2rem(25);
        font-family: "PingFang SC Medium";
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .housetype {
        @include font-dpr(12px);
        color: #ababab;
        line-height: px2rem(24);
        display: flex;

        span {
          @include font-dpr(12px);
          color: #ababab;
        }
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .time {
        @include font-dpr(12px);
        color: #ababab;
        line-height: px2rem(24);

        span {
          @include font-dpr(12px);
          color: #ababab;
        }
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
