<ion-view view-title="成为房东">
	 <ion-nav-buttons side="left" >
        <button class="button button-clear ajk_back" ng-click='goback();' nav-direction='back'></button>
    </ion-nav-buttons>
    <ion-content has-subheader="false"  >
    	<div class="landlord_profit_wrap">
   		 <div class="contents">
    			<div class="content">
    				<span>成为房东的好处</span>
    				<span>进一步了解</span>
    			</div>
    			<div class="content">
    				<span>优秀房东攻略</span>
    				<span>进一步了解</span>
    			</div>
    			<div class="content">
    				<span>如何加盟我们</span>
    				<span>进一步了解</span>
    			</div>
    		</div>
    		 <div class="submit" >
        	  <button class="button button-full button-calm" ng-click="joinus()">
              加盟我们
            </button>
        </div>
    	</div>
    </ion-content>
</ion-view>
