<ion-view view-title="修改密码">
	<ion-nav-buttons side="left">
        <button class="button button-clear ajk_back" native-ui-sref="setting" native-options="{type: 'slide', direction:'right'}"></button>
    </ion-nav-buttons>
    <ion-content class="userCenter-back">
        <form class="ChangePwd-txt" name='ChangePassword'>
        	<!-- <p class="nowpwd">
        		<input id="nowpwd" type="text" placeholder="当前密码" />
        	</p> -->
            <p class="newpwd">
                <input id="oldpwd" password-confirm name="oldpwd" type="password" ng-pattern='/[a-zA-Z\d+]{6,36}/' placeholder="旧密码" ng-model="sendData.oldPassword" required />
            </p>
        	<p class="newpwd">
        		<input id="newpwd" password-confirm name="newpwd" type="password" ng-pattern='/[a-zA-Z\d+]{6,36}/' placeholder="新密码" ng-model="sendData.password" required />
        	</p>
        	<p class="verifypwd">
        		<input id="verifypwd" password-confirm name="verifypwd" type="password" ng-pattern='/[a-zA-Z\d+]{6,36}/' placeholder="确认新密码" ng-model='password_repeat' required/>
        	</p>
        </form>
    <div class="ChangePwd-btn" ng-disabled='ChangePassword.$invalid||sendData.password!=password_repeat' ng-class='{select:ChangePassword.$valid&&sendData.password==password_repeat}' ng-click="changepwdBtn11()">确认提交</div>
    </ion-content>
</ion-view>
