.ChangePwd-txt{
     width:100%;
     background:#fff;
    p{
        height: px2rem(102);
        margin:0 px2rem(30);
        display: flex;
        align-items: center;
        input{
          width: 100%;
           height:px2rem(60);
           line-height: px2rem(60);
           @include font-dpr(13px);
           color:$ajk_inputColor;
//         margin-left:px2rem(50);
        }
    }
    p:last-child{
     width: 100%;
      margin:0;
      padding-left: px2rem(30);
    }
    .newpwd{
        position: relative;
        &::before{
          @include borderMixinBottom;
        }

    }
}
.ChangePwd-btn{
    height:px2rem(90);
    border-radius: px2rem(10);
    background:#ffb354;
    margin:px2rem(50) px2rem(30);
    text-align: center;
    line-height:px2rem(90) ;
    @include font-dpr(15px);
    color:#fff;
    opacity:0.5;
    &.select{
      opacity:1
    }
}
