<ion-view title="灯">
  <ion-nav-buttons side="left">
    <button class="button button-clear ajk_back" ng-click="goback()"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" style="overflow: hidden">
    <div class="light_wrap">
      <div class='light_bg'>
        <div class="round">
          <div class="large_round" on-touch='onTouch($event)' on-drag='touchstart($event)' style="transform:rotateZ({{-large_round_rotate}}deg)">
            <div class='round_wrap' ng-repeat="light in lights" style="transform:rotateZ({{light.rotate}}deg)">
              <div class='lights light_{{light.status}} {{light.name.replace(type_light, "")}}_{{light.status}}' 
              style="transform:rotateZ({{large_round_rotate-light.rotate}}deg)"
              ng-click='lightCtrl(light)'>
                <div class="light_img"></div>
                <p>{{light.name.replace(type_light, '')}}</p>
              </div>
            </div>
          </div>
          <div class="middle_round" style='transform:rotateZ({{middle_round_rotate}})'>
            <p class='class_title'  
            ng-repeat='tab in tab_navs' 
            style='transform:rotateZ({{- $index * 30 + 30}}deg)'
            ng-class='{class_title_active: $index == modleIndex}'
            ng-click='typeClick($index, tab)'>
              {{tab}}
            </p>
          </div>
          <img class="small_round" ng-src='imgs/wcj/light/small_round.png' alt='' /> 
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
