<ion-view title="门卡">
  <ion-nav-buttons side="left" get-height>
    <button class="button button-clear ajk_back" ng-click="goback()"></button>
  </ion-nav-buttons>
  <ion-content style="top:0!important" overflow-scroll="true" style="overflow: hidden">
    <div class='roomCard_bg'> 
        <div class='round_bg'> 
          <div class='figure figure_{{arry.name}}' ng-repeat='arry in arrys' ng-click='lockCtrl(arry.name, $index)' ng-class='{active: $index===activeIndex}'>
              <div>
                  <img ng-src='imgs/wcj/lock/{{arry.name}}.png' alt="" ng-if='$index!==activeIndex' />  
                  <img ng-src='imgs/wcj/lock/{{arry.name}}_active.png' ng-if='$index===activeIndex'  alt=""/>       
              </div>
              <p class='selectTitle'>{{arry.title}}</p>
          </div>    
          <div class='center'>
            <p class='center_name'>{{name}}</p>
            <p class='center_num'>{{num}}</p>
          </div>
          <img src='imgs/wcj/lock/pots.png' class='pots_top' alt=""/>

        </div>
      </div>
</ion-content>
</ion-view>
