
.service_wrap{
    height: 100%;
.service_bg{
  height: 100%;
  background: url(../imgs/wcj/service/service_bg.png);
  background-size: 100% 100%;
}
.marignTop{
  width: 1px;
  height: px2rem(60);
}
.rect{
  width: px2rem(650);
  height: px2rem(420);
  background: url('../imgs/wcj/service/rect.png');
  background-size: 100% 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.service_item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: px2rem(250);
  align-items: center;
}
.swape{
  width: px2rem(98);
}
.ring{
  width: px2rem(99);
}
.content{
  @include font-dpr(15px);
  color: #fff;
}
.selectedlight{
  width: px2rem(80);
}
.unselectedlight{
  width: px2rem(72)
}
.active{}
}