<ion-view title="情景模式">
  <ion-nav-buttons side="left">
    <button class="button button-clear ajk_back" ng-click="goback()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="model_wrap">
      <div class='models_bg'>
        <div class='model_item'>
          <figure class='figure' ng-click="modelCtrl(model.sceneId,$index)" ng-repeat="model in modelArray">
            <div class="model_img {{model.name.replace('情景', '')}}" ng-class='{active:$index==activeIndex}'>
              <div></div>
            </div>
            <figcaption class='figcaption'>
              {{model.name.replace('情景', '')}}
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
