.Pay-list{
    background-color: #FFFFFF;
    .list{
        width:100%;
        height:px2rem(160);
        border-bottom:1px solid $ajk_borderColor;
        overflow: hidden;
       p{
            display: block;
            width:px2rem(150);
            height:px2rem(120);
             margin-left: px2rem(40);
             padding-top: px2rem(10);
             float: left;
          img{
                width:100%;
                height:px2rem(120);
                margin:0;
            }
        }

        ul{
            width: 50%;
            height:100%;
            float:left;
            margin-left: px2rem(20);
           .OrderNum{
                @include font-dpr(12px);
                color: #ababab;
                line-height:px2rem(50);
                font-family: "PingFang SC Medium";
                }
            .address{
                padding-top: px2rem(8);
                @include font-dpr(15px);
                color: #000;
                line-height:px2rem(35);
                display: flex;
                 span{
                     margin-left:px2rem(30);
                     @include font-dpr(12px);
                    color: #ababab;
                 }
            }
            .money{
                @include font-dpr(17px);
                color: $ajk_color;
                line-height:px2rem(40);
            }
        }
    }

}
