<ion-view hide-nav-bar='true'>
	<ion-content has-subheader="false" overflow-scroll="true" style="overflow: hidden">
		<div class="my_checkIn_wrap">

			<div class="checkIn_cont">
				<div class="checkIn_cont_add">
					<div class="checkIn-back" native-ui-sref='tab.ctrl' native-options="{type: 'slide', direction:'right'}">
						<img src="imgs/lj/back.png" />
					</div>

					<p ng-click='goClean();' silde-animation><img src="imgs/kwn/checkIn/more1.png" alt=""></p>
				</div>
				<div>
					<figure ng-repeat='figure in figures' ui-sref='{{figure.path}}'  class="home_figure {{figure.name}}" ng-class='{active: $index===activeIndex}'>
            <img ng-src='imgs/kwn/checkIn/{{figure.name}}.png' alt="" />
            <figcaption>{{figure.title}}</figcaption>
          </figure>
				</div>
			</div>
      <p class='slogan'><img ng-src='imgs/kwn/checkIn/slogan.png' alt=""/></p>
		</div>

	</ion-content>
</ion-view>
