.status-header{
    height:px2rem(224);
    width:100%;
    background:$ajk_color;
    display: flex;
    justify-content: space-between;
    padding:0 px2rem(30) 0 px2rem(70);
    .status-cont{
        height:100%;
        p{
            @include font-dpr(18px);
            line-height: px2rem(56);
            color:#fff;
            margin-top:px2rem(40);
        }
        span{
           @include font-dpr(13px);
           line-height: px2rem(56);
           color:#fff;
        }
        i{
            color:#fff;
        }
    }
}
.status{
  .cancel{
      line-height:px2rem(43);
      padding:0 px2rem(10);
      border-radius: px2rem(25);
      text-align: center;
      @include font-dpr(13px);
      color:#aaa;
      position: relative;
      &:before{
        @include borderMixin;
        border-radius: px2rem(25);
      }
  }
  .yicancel{
      border-color:$ajk_color;
      color:$ajk_color;
  }
}
.order-information{
    padding-bottom:px2rem(20);
    width: 100%;
    background:#fff;
    h3{
        width: px2rem(720);
        height:px2rem(80);
        @include font-dpr(15px);
        line-height: px2rem(80);
        margin-left:px2rem(30);
        margin-bottom: px2rem(20);
        color:#696868;
        position: relative;
        &::before{
          @include borderMixinBottom1;
        }
    }
    p{
       width: 100%;
       @include font-dpr(13px);
       margin-bottom:px2rem(22);
       display: flex;
       i{
           display:block;
           width:px2rem(150);
           text-align: right;
       }
       span{
           color:#000;
       }
    }
}
.order.status .hotel>div>ul{
  -webkit-flex-grow:1;
  flex-grow:1;
  margin-right: px2rem(30);
}
