<ion-view title={{title}}>
  <ion-nav-buttons side="left">
    <button class="button button-clear ajk_back" ng-click="goback()"></button>
  </ion-nav-buttons>
  <ion-content class='transform_scroll curtain_bg' style="overflow-x: hidden; overflow-y:visible;">
    <div class="slide-pot">
      <span class="pot pot_curtain" ng-repeat='pot in potArray' ng-class='{active: $index === tvState}'></span>
    </div>
    <div class="tvArrays" on-swipe-right="onSwipeRight()" on-swipe-left="onSwipeLeft()" style="width: {{length}}00%;transform: translateX(-{{perWidth * tvState}}%);">
      <div class="curtain_wrap" ng-repeat='curtains in curtainArrays' style="width: {{perWidth}}%">
          <div ng-repeat='curtain in curtains'>
            <p class="curtain_name">{{curtain.name}}</p>
            <div class="curtain_group">
              <p ng-repeat='btn in curtainBtns' 
              class="curtain_btn" 
              ng-click='curtainCtrl(btn.type, curtain,$index)'
              ng-class='{active: curtain.chuanglianActiveIndex == $index}'>{{btn.title}}</p>
            </div>
            <div class='inputRange' on-release='onRelease($event,curtain.brightness, curtain.wayId)'>
              <input type="range"  min="0" max="100" ng-model="curtain.brightness" style="background:linear-gradient(to right, #6095f0, white {{curtain.brightness}}%, white)"/>
            </div>
          </div>
        </div>
    
    </div>
  </ion-content>
</ion-view>
