<ion-view title='打扫'>
  <ion-nav-buttons side="left">
     <button class="button button-clear ajk_back" ng-click='back()' native-options="{type: 'slide', direction:'right'}"></button>
 </ion-nav-buttons>
 <ion-content>
   <div class="sweepTime_wrap">
   <div class="sweepTime_select" ng-show='contenSwitch'>
     <section>
       <div class="service">
         <p>服务:</p>
         <p>房间打扫</p>
       </div>
       <div class="time" ng-click="changeTime();">
         <p>时间</p>
         <p>13:00-14:00<i></i></p>
       </div>
     </section>
     <div class="conform_bnt">
       <button class="button button-full button-calm" ng-click="contenSwitch=false">确定</button>
     </div>
     <p>注：酒店会在次日12:00-18:00间 打扫续住卫生</p>
     <div class="select_time"  ng-class="{transitionUp:timeSwitch}">
       <p>选择打扫时间</p>
       <p  ng-class='{select_bg:$index==index}' ng-repeat='time in times track by $index' ng-click="selectTime($index,time)">{{time}}</p>
     </div>
     <div class='backdrop visible active' ng-show ='timeSwitch' ng-click='timeSwitch=false' ></div>
   </div>
   <div class="sweepTime_select sweepTime_schedule" ng-show="!contenSwitch">
     <section>
       <div class="service">
         <p>服务:</p>
         <p>房间打扫</p>
       </div>
       <div class="time" ng-click="changeTime();">
         <p>时间</p>
         <p>13:00-14:00</p>
       </div>
     </section>
     <div class="status">
          <p>状态</p>
          <div></div>
          <div class="content">
            <p ng-class="{statusNow:waitingStatus}"><span>等待处理</span></p>
            <p ng-class="{statusNow:handleStatus}"><span>已处理，准备打扫</span></p>
            <p ng-class="{statusNow:completeStatus}"><span>打扫完成</span></p>
          </div>
     </div>
   </div>
 </div>
 </ion-content>
 </ion-view>
