<ion-view title={{title}}>
  <ion-nav-buttons side="left">
    <button class="button button-clear ajk_back" ng-click="goback()"></button>
  </ion-nav-buttons>
  <ion-content class='transform_scroll' style="overflow: hidden;background:url(imgs/wcj/airCondition/air_bg.png);background-size: 100% 100%;">
    <div class="slide-pot">
      <span class="pot" ng-repeat='pot in potArray' ng-class='{active: $index === airState}'></span>
    </div>
    <div style="width: 100%; height: 100%; overflow: hidden;">
      <div class="tvArrays" on-swipe-right="onSwipeRight($event)" on-swipe-left="onSwipeLeft($event)" style="width: {{length}}00%;transform: translateX(-{{perWidth * airState}}%);">
        <div class="airCondition_wrap" ng-repeat='airCondition in airConditionArrays' style="width: {{perWidth}}%">
            <div class="air_display">
              <div class="air_box">
                <div class="air_display_box">
                  <span class='air_display_title'>风速</span>
                  <div class="air_speed">
                    <img class="{{speed}} speed_img" ng-src="imgs/wcj/airCondition/{{speed}}.png" alt="" ng-repeat='speed in airCondition.speedArray'>
                  </div>
                </div>
                <div class="air_display_box air_box_down">
                  <span class='air_display_title'>模式</span>
                  <div class="air_model">
                    <img ng-src='imgs/wcj/airCondition/cold.png' alt=""  ng-if='airCondition.model === "制冷"'/>
                    <img ng-src='imgs/wcj/airCondition/hot.png' alt="" ng-if='airCondition.model === "制热"'/>
                    <span>{{airCondition.model}}</span>
                  </div>
                </div>
              </div>
              <div class="air_divide">
                <p></p>
              </div>
              <div class="air_box">
                <div class="air_display_box">
                  <span class='air_display_title'>当前</span>
                  <div class="tem">20℃</div>
                </div>
                <div class="air_display_box air_box_down">
                  <span class='air_display_title'>设置</span>
                  <div class="tem">{{airCondition.temp?airCondition.temp+'℃':''}}</div>
                </div>
              </div>
            </div>
            <div class="air_round">
              <div class="middle_round" ng-click='off(airCondition.deviceId)'>
                {{airCondition.status === 'OFF'? 'ON' : 'OFF'}}
              </div>
              <span class="small_round up"></span>
              <span class="small_round down"></span>
              <span class="small_round left"></span>
              <span class="small_round right"></span>
            </div>
            <div class="air_btn">
              <figure class='air_figure' ng-click='tempAdd();'>
                <div class="air_figure_img">
                  <img class='btn_tmp' ng-src='imgs/wcj/airCondition/plus.png' alt="" />
                </div>
                <figcaption>温度+</figcaption>
              </figure>
              <figure class='air_figure' ng-click="tempReduce();">
                <div class="air_figure_img">
                  <img class='btn_tmp' ng-src='imgs/wcj/airCondition/minus.png' alt="" />
                </div>
                <figcaption>温度-</figcaption>
              </figure>
              <figure class='air_figure' ng-click='speedChange()')}>
                <div class="air_figure_img">
                  <img class='btn_speed' ng-src='imgs/wcj/airCondition/speed.png' alt="" />
                </div>
                <figcaption>风速</figcaption>
              </figure>
              <figure class='air_figure' ng-click="changeModel();">
                <div class="air_figure_img">
                  <img class='btn_speed' ng-src='imgs/wcj/airCondition/air_model.png' alt="" />
                </div>
                <figcaption>模式</figcaption>
              </figure>
            </div>
          </div>
        
      </div>
    </div>
  </ion-content>
</ion-view>
