[data-dpr="3"] {
  @media screen and (max-width:1500px) {
    .pics .picshow img{
      width: 45%!important;
    }
  }
}
[data-dpr="2"] {
  @media screen and (max-width:1000px) {
    .pics .picshow img{
      width: 45%!important;
    }
  }
}
[data-dpr="1"] {
  @media screen and (max-width:500px) {
    .pics .picshow img{
      width: 45%!important;
    }
  }
}
.hotel_pics_wrap {
    height: 100%;
    .divider_line {
        background-color: $ajk_backColor;
        height: px2rem(10);
    }
    .hotel_pics {
        background-color: #fff;
    }
    .pic_items {
        position: fixed;
        width: px2rem(170);
        height: 100%;
        line-height: px2rem(80);
        @include font-dpr(13px);
        text-align: center;
        box-shadow: 1px 0px 5px #efefef;
    }
    .pic_item {
        p{
          width: px2rem(150);
          margin: 0 auto;
          position: relative;
          &::before{
            @include borderMixinBottom;
          }
        }
    }
    .active{
        background-color:$ajk_color;
        p{
          color:#fff;
        }
        span{
           color:#fff;
        }

    }

    .pics {
        height: auto;
        padding: px2rem(30);
        padding-left: 0;
        margin-left: px2rem(170);
        display: flex;
        flex-wrap: wrap;
        .picshow {
             display: flex;
               -webkit-flex-wrap:wrap;
             flex-wrap: wrap;
            >img {
                width: px2rem(250);
                height: px2rem(190);
                margin-left: px2rem(20);
                margin-bottom: px2rem(24);
                overflow: hidden;
            }
            .mask{
                position:absolute;
                top:0;left:0;right:0;bottom:0;
                background-color:#000;
                z-index:999;
                display:flex;
                align-items:center;
                img{
                    width:100%;
                }
            }
        }

    }
        .fade.ng-enter{opacity:0;}
      .fade{transition:1s linear all;}
      .fade.ng-enter.ng-enter-active{opacity:1;}
      .fade.ng-leave{opacity:1;}
      .fade.ng-leave.ng-leave-active{opacity:0;}
   .test{
        width:160px;
        height:160px;
        background:#b36ae2;
   }
}
